*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Arial, sans-serif;
  position:relative;
}

.fondo{
  width:100%;
  height:auto;
  display:block;
}

.buscar-btn{
  position:fixed;
  bottom:100px;
  left:50%;
  transform:translateX(-50%);
  padding:14px 25px;
  font-size:16px;
  border-radius:12px;
  background:#ff4d4d;
  color:white;
  text-decoration:none;
  font-weight:bold;
  z-index:10;
}

.play-btn{
  position:fixed;
  bottom:40px;
  left:50%;
  transform:translateX(-50%);
  padding:14px 25px;
  font-size:16px;
  border:none;
  border-radius:12px;
  background:#f4d03f;
  font-weight:bold;
  z-index:10;
}
