*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:black;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  font-family: Arial, sans-serif;
}

.container{
  position:relative;
  width:100%;
  max-width:500px; /* tamaño ideal para móvil */
}

.fondo{
  width:100%;
  height:auto;
  display:block;
}

.buscar-btn{
  position:absolute;
  bottom:110px;
  left:50%;
  transform:translateX(-50%);
  padding:14px 25px;
  font-size:16px;
  border-radius:12px;
  background:#ff4d4d;
  color:white;
  text-decoration:none;
  font-weight:bold;
}

.play-btn{
  position:absolute;
  bottom:50px;
  left:50%;
  transform:translateX(-50%);
  padding:14px 25px;
  font-size:16px;
  border:none;
  border-radius:12px;
  background:#f4d03f;
  font-weight:bold;
}
