*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  height:100vh;
  width:100%;
  background-image: url("imagen.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial, sans-serif;
  position:relative;
}

.overlay{
  position:absolute;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.3);
}

.play-btn{
  position:absolute;
  bottom:30px;
  padding:14px 25px;
  font-size:16px;
  border:none;
  border-radius:10px;
  background:#ffcc00;
  font-weight:bold;
  cursor:pointer;
  z-index:2;
  transition:0.3s;
}

.play-btn:hover{
  transform:scale(1.05);
  background:#ffd633;
}

.buscar-btn{
  position:absolute;
  bottom:90px;
  padding:14px 25px;
  font-size:16px;
  border-radius:10px;
  background:#ff4444;
  color:white;
  text-decoration:none;
  font-weight:bold;
  z-index:2;
  transition:0.3s;
}

.buscar-btn:hover{
  transform:scale(1.05);
  background:#ff2222;
}
